@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --gray100: #ECECEC;
    --primary: #1C39BA;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
}

@layer components{
    .main-container {
        @apply px-4 sm:px-6 max-w-[960px] xl:px-0 2xl:max-w-[1200px] mx-auto;
    }

    .flex-center {
        @apply flex justify-center items-center;
    }
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-gray100: var(--gray100);

    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
